@model WebApplication56.Models.Adjustment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adjustment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdjId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
